.browser {
  display: flex;
  flex: 1;

  border-top: 0.2rem solid $gray-bright;

  .view {
    display: flex;
    flex-direction: column;

    flex: 1 1 0;
    min-width: 0;

    &.inspector {
      top: 0;
      position: sticky;
      max-height: 100vh;
      color: #c5c8c6;

      @include left-border;
      border-color: $gray-dark;
      background: $gray-dark;

      nav {
        background: inherit;
      }

      .content {
        margin: 0;
        padding: 0;
        display: flex;
        background: $gray-darker;

        > * {
          display: block;
          margin: 0;
          padding: 1em;
          border-radius: 0;
          border: 0;
          flex: 1;
        }
      }
    }

    nav {
      position: sticky;
      top: 0;

      display: flex;
      flex: 0 0 3.2em;
      justify-content: space-between;
      background: $gray-bright;
      z-index: 1000;

      > span:first-of-type {
        flex: 1 0 auto;
      }

      > * {
        margin: 1em;
      }
    }

    .content {
      flex: 1 1 auto;
      overflow: auto;
      padding: 1em 2em;

      position: relative;
    }
  }

  .content, .path {
    opacity: 1;
    transition: opacity 150ms;

    body.loading & {
      opacity: 0;
    }
  }
}

.content {
  img, video {
    max-width: 100%;
    max-height: 100%;
  }
}
