.canvas_app {
  position: relative;

  display: inline-block;

  .overlay {
    position: absolute;
    padding: 1rem;


    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    opacity: 0;

    background: rgba(0, 0, 0, 0.7);

    transition: opacity 300ms;

    &:hover {
      opacity: 1;
    }

    > * {
      margin: 0.5em;
    }

    a {
      display: block;
      color: $gray-bright;
      font-family: inherit;
    }
  }
}
