$white:         #ffffff;
$gray-bright:   #eeeeee;
$gray-dark:     #303336;
$gray-darker:   #1d1f21;
$gray-neutral:  #b9bdc1;
$gray-success:  #bdddc1;
$gray-fail:     #ddbdc1;

:root {
  --gray-bright:  #{$gray-bright};
  --gray-dark:    #{$gray-dark};
  --gray-darker:  #{$gray-darker};
  --gray-neutral: #{$gray-neutral};
  --gray-success: #{$gray-success};
  --gray-fail:    #{$gray-fail};
}

@mixin left-border($w: 0.6rem) {
  border-style: solid;
  border-width: 0 0 0 $w;
  border-radius: 0 6px 6px 0;
}

@mixin right-border($w: 0.6rem) {
  border-style: solid;
  border-width: 0 $w 0 0;
  border-radius: 6px 0 0 6px;
}
