footer {
  display: flex;
  padding: 1rem 2rem;
  height: 1rem;

  position: sticky;
  bottom: 0;
  
  @media print {
    position: absolute;
    display: none;
  }

  color: $gray-bright;
  background: $gray-dark;

  .icons {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    .iconlink  {
      filter: invert(.7);

      &:hover {
        filter: invert(1);
      }

      > img {
        height: 1em;
        margin-left: 0.5em;
        vertical-align: middle;
      }
    }
  }
}
