* {
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 { font-weight: bold; }
input, select, button {
  color: initial;
  &:disabled {
    color: graytext;
  }
}
tt, code, kbd, samp { font-family: monospace; }
code { font-size: 0.8em; }
b, strong { font-weight: bold; }
em, i { font-style: italic; }
a { font-size: 1em; cursor: pointer; }
hr { clear: both; }
ul { margin: 0; }

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: var(--gray-bright);
  font-family: sans-serif;

  min-height: 100vh;
}

a {
  display: inline-block;

  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: transparent;

  &:hover {
    filter: invert(40%);
    text-decoration-color: currentColor;
  }

  transition: filter 500ms, text-decoration-color 500ms;
}

::selection {
  background: $gray-dark;
  color: $gray-bright;
  padding: 1em;
}
