$sidenote-width: 14rem;

.sidenote-container {
  margin-right: $sidenote-width + 1rem;

  @include media-medium {
    margin: auto;
  }

  .sidenote {
    position: absolute;
    box-sizing: border-box;

    width: $sidenote-width;
    right: -$sidenote-width - 2rem;
    padding: 0 1rem;

    color: $gray-dark;
    border-top: 1px solid $gray-dark;
    font-size: 0.8em;

    @include media-medium {
      width: initial;
      position: initial;
      right: initial;

      border-bottom: 1px solid $gray-dark;
      margin: 0.5rem 0;
    }
  }
}
