@import 'hljs';

$gray-bright:   #eeeeee;
$gray-dark:     #303336;
$gray-darker:   #1d1f21;
$gray-neutral:  #b9bdc1;
$gray-success:  #bdddc1;
$gray-fail:     #ddbdc1;

@mixin left-border($w: 0.6rem) {
  border-style: solid;
  border-width: 0 0 0 $w;
  border-radius: 0 6px 6px 0;
}

@mixin right-border($w: 0.6rem) {
  border-style: solid;
  border-width: 0 $w 0 0;
  border-radius: 6px 0 0 6px;
}

@import 'browser';

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.canvas_app {
  position: relative;

  display: inline-block;

  .overlay {
    position: absolute;
    padding: 1rem;


    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    opacity: 0;

    background: rgba(0, 0, 0, 0.7);

    transition: opacity 300ms;

    &:hover {
      opacity: 1;
    }

    > * {
      margin: 0.5em;
    }

    a {
      display: block;
      color: #eee;
      font-family: inherit;
    }
  }
}

h1 .icons {
  display: inline-flex;
  float: right;

  .iconlink > img {
    height: 0.7em;
    margin-left: 0.2em;
    vertical-align: middle;
  }
}

pre > code.hljs {
  @include left-border;
  border-color: $gray-dark;
}

pre.dual-code {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;

  > code.hljs {
    @include right-border(0.3rem);

    flex: 1;
    margin: 0;
  }

  > code.hljs + code.hljs {
    @include left-border(0.3rem);
  }
}

.example {
  @include left-border;

  margin: 0 2rem;
  padding: 1rem;
  background: $gray-bright;
  border-color: $gray-neutral;
}
